:root {
  --mainClr: rgb(200, 200, 200);
  --font: Arial, Helvetica, sans-serif;
  --buttonClr: rgba(207, 207, 207, 0.746); 
  --buttonWidth: 150px;
  --buttonLength: 100px;
  --border: solid rgb(0, 0, 0) 2px;
  --calcScreen: rgba(93, 93, 255, 0.685);
  --fullWidth: 600px;
  --fullLength: 200px;
  --buttonsLrg: 3rem;
  --buttonsMdm: 2rem;
  --buttonsSml: 1.25rem
}

body {
  margin: 0;
  background-color: rgba(255, 218, 185, 0.267);
}

.calculator {
  margin: auto;
  border: solid grey 10px;
  width: fit-content;
}

button {
  background-color: var(--buttonClr);
  border: var(--border);
  height: var(--buttonLength);
  width: var(--buttonWidth);
  font-family: var(--font);
  font-size: var(--buttonsSml);
  cursor: pointer;
  padding: 0;
}

.screen {
  background-color: black;
}

.calculatorButtons {
  display: grid;
  grid-template-columns: repeat(4, var(--buttonWidth));
  grid-template-rows: repeat(6, var(--buttonLength)); 
}

.seven {
  grid-column: 1;
  grid-row: 1;
}

.eight {
  grid-column: 2;
  grid-row: 1;
}

.nine {
  grid-column: 3;
  grid-row: 1;
}

.add {
  grid-column: 4;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
}

.five {
  grid-column: 2;
  grid-row: 2;
}

.six {
  grid-column: 3;
  grid-row: 2;
}

.minus {
  grid-column: 4;
  grid-row: 2;
}

.one {
  grid-column: 1;
  grid-row: 3;
}

.two {
  grid-column: 2;
  grid-row: 3;
}

.three {
  grid-column: 3;
  grid-row: 3;
}

.multiply {
  grid-column: 4;
  grid-row: 3;
}

.decimal {
  grid-column: 1;
  grid-row: 4;
}

.zero {
  grid-column: 2;
  grid-row: 4;
}

.clear {
  grid-column: 3;
  grid-row: 4;
  background-color: rgba(255, 0, 0, 0.568);
}

.calculate {
  grid-column: 1 / 4;
  grid-row: 5;
  width: var(--fullWidth);
  font-size: var(--buttonsLrg);
}

.teacher {
  grid-column: 1 / 4;
  grid-row: 6;
  width: var(--fullWidth);
  font-size: 3rem;
  background-color: red;
  font-size: var(--buttonsMdm);
  font-family: var(--font);
  text-align: center;
  cursor: pointer;
}

.calculatorButton {
  display: none;
}

.on {
  background-color: rgba(9, 189, 9, 0.678);
}

.screen-on {
  grid-template-columns: repeat(4, var(--buttonWidth));
  grid-template-rows: repeat(2, var(--buttonLength));
  width: var(--fullWidth);
  height: var(--fullLength);
  font-size: 10rem;
  background-color: var(--calcScreen);
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  text-align: right;
  overflow: hidden;
}

.teachers-coming {
  display: none;
}

.teachers-coming-body {
  background-color: black;
}

.screen-lock {
  display: none;
}

.screen-lock-on {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: var(--font);
  color: white;
  width: fit-content;
  margin: auto;
  margin-top: 16rem;
  cursor: pointer;
}

i {
  color: white;
  font-size: 6rem;
  margin-bottom: 21.440px;
}